<div class="container">
    <h2>Group</h2>
		<button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Add Group</button>
    <table class="table table-striped" id="mytable">
      <thead>
        <tr>
          
          <th>id</th>
          <th>Group Name</th>
          <th>Category</th>
          <th>Action</th>
          
        </tr>
      </thead>
      <tbody>
        <% results.forEach(function(result) { %>   
        <tr>
          <td><%= result.id %></td>

          <td><%= result.itemgroupname %></td>
          <td><%= result.groupcategory %></td>
          <td>
            <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id="<%= result.id %>" data-itemgroupname="<%= result.itemgroupname %>" data-groupcategory="<%= result.groupcategory %>">Edit</a>
            <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="<%= result.id %>">Delete</a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>

	<!-- Add New Product Modal-->
	  <form action="/savegroup" method="post">
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Add New Group</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               <div class="form-group">
                   <input type="text" name="itemgroupname" class="form-control" placeholder="Group name" required>
               </div>

               <select class="form-control" name="groupcategory">
                <% category.forEach(function(result){ %>
                <option value="<%= result.name %>"><%= result.name %></option>
           
                <% }) %>
        </select>
               <!-- <div class="form-group">
                <input type="text" name="groupcategory" class="form-control" placeholder="Category name" required>
            </div> -->
              
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary">Save</button>
             </div>
           </div>
         </div>
        </div>
	 </form>

	 <!-- Edit Product Modal-->
   <form action="/updategroup" method="post">
       <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Group</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <input type="text" name="itemgroupname" class="form-control itemgroupname" placeholder="Group name" required>
            </div>

            <select class="form-control groupcategory" name="groupcategory">
              <% category.forEach(function(result){ %>
              <option value="<%= result.name %>"><%= result.name %></option>
         
              <% }) %>
      </select>
           

             
            </div>
            <div class="modal-footer">
              <input type="hidden" name="id" class="id">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
       </div>
  </form>

	 <!-- Delete Product Modal-->
 	  <form id="add-row-form" action="/deletegroup" method="post">
 	     <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 	        <div class="modal-dialog">
 	           <div class="modal-content">
 	               <div class="modal-header">
									 	<h5 class="modal-title" id="myModalLabel">Delete Group</h5>
 	                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
 	               </div>
 	               <div class="modal-body">
												 <strong>Are You Sure To Delete This Data?</strong>
 	               </div>
 	               <div class="modal-footer">
									 		<input type="hidden" name="id" class="form-control id" required>
 	                   	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
 	                  	<button type="submit" class="btn btn-success">Delete</button>
 	               </div>
 	      			</div>
 	        </div>
 	     </div>
 	 </form>

      <script>
        $(document).ready(function(){
                //showing data to modal for edit record
          $('#mytable').on('click','.edit',function(){
            var id = $(this).data('id');
            var itemgroupname = $(this).data('itemgroupname');
            var groupcategory = $(this).data('groupcategory');
            $('#EditModal').modal('show');
            $('.itemgroupname').val(itemgroupname);
            $('.groupcategory').val(groupcategory);
            
            $('.id').val(id);
          });
                //showing modal for  delete record
                $('#mytable').on('click','.delete',function(){
            var id = $(this).data('id');
            $('#DeleteModal').modal('show');
            $('.id').val(id);
          });
    
        });
    </script>
    