<div class="container">
    <h2>Menu</h2>
		<button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Add Menu</button>
    <table class="table table-striped" id="mytable">
      <thead>
        <tr>
          
          <th>id</th>
          <th>Itemname</th>
          <th>Alias</th>
          <th>units</th>
          <th>itemgroup</th>
          <th>price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% results.forEach(function(result) { %>   
        <tr>
          <td><%= result.id %></td>
          <td><%= result.itemname %></td>
          <td><%= result.alias %></td>
          <td><%= result.units %></td>
          <td><%= result.itemgroup %></td>
          <td><%= result.price %></td>
          <td>
            <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id="<%= result.id %>" data-itemname="<%= result.itemname %>" data-alias="<%= result.alias %>" data-units="<%= result.units %>" data-itemgroup="<%= result.itemgroup %>" data-price="<%= result.price %>">Edit</a>
            <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="<%= result.id %>">Delete</a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>

	<!-- Add New Product Modal-->
	  <form action="/savemenu" method="post">
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Add New Item</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               <div class="form-group">
                   <input type="text" name="itemname" class="form-control" placeholder="Name of Item" required>
               </div>

               <div class="form-group">
                   <input type="text" name="alias" class="form-control" placeholder="Alias" required>
               </div>

              <div class="form-group">
                <select class="form-control" name="units">
                  <% unit.forEach(function(result){ %>
                  <option value="<%= result.name %>"><%= result.name %></option>
             
                  <% }) %>
          </select>
              </div>
               
               
<div class="form-group">
  <select class="form-control" name="itemgroup">
    <% group.forEach(function(result){ %>
    <option value="<%= result.itemgroupname %>"><%= result.itemgroupname %></option>

    <% }) %>
</select>
</div>
        

          <div class="form-group">
            <input type="number" name="price" class="form-control" placeholder="Price" required>
        </div>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary">Save</button>
             </div>
           </div>
         </div>
        </div>
	 </form>

	 <!-- Edit Product Modal-->
   <form action="/updatemenu" method="post">
       <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Menu</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <input type="text" name="itemname" class="form-control itemname" placeholder="Name of Item" required>
            </div>

            <div class="form-group">
                <input type="text" name="alias" class="form-control alias" placeholder="Alias" required>
            </div>

            <select class="form-control units" name="units">
              <% unit.forEach(function(result){ %>
              <option value="<%= result.name %>"><%= result.name %></option>
         
              <% }) %>
      </select>

      <select class="form-control itemgroup" name="itemgroup">
        <% group.forEach(function(result){ %>
        <option value="<%= result.itemgroupname %>"><%= result.itemgroupname %></option>
   
        <% }) %>
</select>

       <div class="form-group">
         <input type="number" name="price" class="form-control price" placeholder="Price" required>
     </div>
            </div>
            <div class="modal-footer">
              <input type="hidden" name="id" class="id">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
       </div>
  </form>

	 <!-- Delete Product Modal-->
 	  <form id="add-row-form" action="/deletemenu" method="post">
 	     <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 	        <div class="modal-dialog">
 	           <div class="modal-content">
 	               <div class="modal-header">
									 	<h5 class="modal-title" id="myModalLabel">Delete Menu</h5>
 	                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
 	               </div>
 	               <div class="modal-body">
												 <strong>Are You Sure To Delete This Data?</strong>
 	               </div>
 	               <div class="modal-footer">
									 		<input type="hidden" name="id" class="form-control id" required>
 	                   	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
 	                  	<button type="submit" class="btn btn-success">Delete</button>
 	               </div>
 	      			</div>
 	        </div>
 	     </div>
 	 </form>

      <script>
        $(document).ready(function(){
                //showing data to modal for edit record
          $('#mytable').on('click','.edit',function(){
            var id = $(this).data('id');
            var itemname = $(this).data('itemname');
            var alias = $(this).data('alias');
            var units = $(this).data('units');
            var itemgroup = $(this).data('itemgroup');
            var price = $(this).data('price');
           
            $('#EditModal').modal('show');
            $('.itemname').val(itemname);
            $('.alias').val(alias);
            $('.units').val(units);
            $('.itemgroup').val(itemgroup);
            $('.price').val(price);
           
            $('.id').val(id);
          });
                //showing modal for  delete record
                $('#mytable').on('click','.delete',function(){
            var id = $(this).data('id');
            $('#DeleteModal').modal('show');
            $('.id').val(id);
          });
    
        });
    </script>
    