<div class="row">
 
    <div style="margin:0 auto; width:20%" class="col-md-8  mt-4 ">
        <div class="viewstock">
            <div class="row ">
                <div class="col-md-4 form-group">
                    <select id="viewstockitem" class="form-control d-inline w-100"
                        style="text-align:center; text-align-last:center;">
                        <option value="all" style="text-align:center; text-align-last:center;">All</option>
                        <hr />
                        <option value="category">By Categoryname</option>
                        <hr />
                        <option value="group">By Groupname</option>
                        <hr />
                        <option value="itemname">By Itemname</option>
                    </select>
                </div>
                <div style="display:none;" class="col-md-4 searchstockitem">

                    <input style="display:none;" required autofocus list="categorylist" type="text"
                        placeholder="Categoryname" class="form-control" id="categoryname">
                    <input style="display:none;" required autofocus list="itemgrouplist" type="text"
                        placeholder="Groupname" class="form-control" id="groupname">
                    <input style="display:none;" required autofocus list="itemnamelist" type="text"
                        placeholder="Itemname" class="form-control" id="itemname">
                </div>
                <div class="col-md-3">
                    <button class="btn ml-2 btn-mg searchstock btn-primary" type="submit">Search</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 viewresult">
            </div>
        </div>


    </div>
    

</div>