<div style="z-index:40000; positive:relative;"  class="modal fade" id="itemgroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="margin:auto;width: 400px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Group Creation</h5>
                <button type="button" class="closegroup close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="itemgroupinformations" method="post" action="" onkeypress="return event.keyCode != 13;" autocomplete="off" >
                <div class="modal-body ">
                    <div class="row ">
                        <div class="col-md-10 itemgroupinformation">
                            <label style="font-size: 12px;">Name</label><input type="text" name="groupname" id="groupname" class="ml-2 w-50  d-inline" required autofocus><br></br>
                            
                            <label style="font-size: 12px;">Category</label>
                            <input class="ml-2 w-50 d-inline" style="font-size: 12px; height:30px;" name="groupcategory" list="categorylist" id="itemcategorycreate"  required>
                                
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit"  class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>