<% include ../partials/vhead %>
<link rel="stylesheet" href="https://unpkg.com/nepali-date-picker@2.0.0/dist/nepaliDatePicker.min.css" integrity="sha384-Fligaq3qH5qXDi+gnnhQctSqfMKJvH4U8DTA+XGemB/vv9AUHCwmlVR/B3Z4nE+q" crossorigin="anonymous">

<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
  <!-- Navbar -->
  <% include ../partials/vnav3 %>

  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <% include ../partials/vaside %>

  <div class="content-wrapper">


        <% include ../partials/billing %>
     
      <div class="row">
        <div class="col-md-10 col-sm-11">
          <div class="tab-content attachrth" id="vert-tabs-right-tabContent">
           
          </div>
        </div>
        <div class="col-md-2 col-sm-1">
          <div class="nav flex-column attachrthnav nav-tabs nav-tabs-right h-100" id="vert-tabs-right-tab" role="tablist" aria-orientation="vertical">
               

            <!-- <a class="nav-link active attachtable" id="vert-tabs-right-home-tab" data-toggle="pill" href="#vert-tabs-right-home" role="tab" aria-controls="vert-tabs-right-home" aria-selected="true"></a>
            <a class="nav-link attachroom" id="vert-tabs-right-profile-tab" data-toggle="pill" href="#vert-tabs-right-profile" role="tab" aria-controls="vert-tabs-right-profile" aria-selected="false"></a>
            <a class="nav-link attachhall" id="vert-tabs-right-messages-tab" data-toggle="pill" href="#vert-tabs-right-messages" role="tab" aria-controls="vert-tabs-right-messages" aria-selected="false"></a>
            -->
          </div>
        </div>
      </div>
    


  <div class="row">
      <div class="col-md-8">

      </div>
      <div class="col-md-4">
            <script>


                    var itemlistresult='';
                      $.ajax({
                        url:'/getroom',
                        type:'get',
                        success:function(data)
                        {
                          var roomdetails= data.result;
                          
                          for(i=0;i<roomdetails.length;i++)
                          {
                     $('.attachrthnav').append(`
                     <a class="nav-link active attachtable" id="vert-tabs-right-home-tab" data-toggle="pill" href="#vert-tabs-right-home" role="tab" aria-controls="vert-tabs-right-home" aria-selected="true"  onclick="javascript:showmainbilling(event,'room','${roomdetails[i].name}');" ><label>${roomdetails[i].name}</label>
                      <label class="float-right ${roomdetails[i].name}-status">${roomdetails[i].status}</label></a>`);
                          }
                          $('.attachrthnav').append(`<a class="nav-link border border-bottom-3 border-left-1" data-toggle="modal" data-target="#tableModal"  href="#">Add Room</a>`);
                          $(".attachrthnav").hide();
                          
                        }
                        
                      });
                  
                        $.ajax({
                        url:'/gettable',
                        type:'get',
                        success:function(data)
                        {
                          var tabledetails= data.result;
                  
                          for(i=0;i<tabledetails.length;i++)
                          {
                            $('.attachtable').append(`<a onclick="javascript:showmainbilling(event,'table','${tabledetails[i].name}');" class="nav-link border border-bottom-3 border-left-1"  href="#">
                      <label>${tabledetails[i].name}</label>
                      <label class="float-right ${tabledetails[i].name}-status">${tabledetails[i].status}</label></a>
                      `);
                          }
                          $('.attachtable').append(`<a class="nav-link border border-bottom-3 border-left-1" data-toggle="modal" data-target="#tableModal"  href="#">Add table</a>`);
                          
                          
                        }
                        
                      });
                  
                          $.ajax({
                        url:'/gethall',
                        type:'get',
                        success:function(data)
                        {
                       
                          var halldetails= data.result;
                          
                          for(i=0;i<halldetails.length;i++)
                          {
                            $('.attachhall').append(`<a onclick="javascript:showmainbilling(event,'hall','${halldetails[i].name}');" class="nav-link border border-bottom-3 border-left-1"  href="#">
                      <label>${halldetails[i].name}</label>
                      <label class="float-right ${halldetails[i].name}-status">${halldetails[i].status}</label></a>`);
                          }
                          $('.attachhall').append(`<a class="nav-link border border-bottom-3 border-left-1" data-toggle="modal" data-target="#tableModal"  href="#">Add Hall</a>`);
                          
                          $(".attachhall").hide();
                          
                        }
                        
                      });
            
                      $("[id$='list']").on('click',function(e)
                      {
                          
                          var targetid= e.target.id.split('-')[0];
                          console.log(`${targetid} clicked`);
                          switch(targetid)
                          {
                              case 'table':
                                  $(".attachtable").show();
                                  $(".attachroom").hide();
                                  $(".attachhall").hide();
                                  break;
                            case 'room':
                            $(".attachtable").hide();
                                  $(".attachroom").show();
                                  $(".attachhall").hide();
                                  break;
                            case 'hall':
                            $(".attachtable").hide();
                                  $(".attachroom").hide();
                                  $(".attachhall").show();
                                  break;
            
            
            
            
                          }
            
                      })
                </script>      
              
      </div>
  </div>
  </div>
  <% include ../partials/vfoot %>
