<% include ../partials/vhead %>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
  <!-- Navbar -->
  <% include ../partials/vnav6 %>
 
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <% include ../partials/vaside %>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar --> 
 
  <!-- /.navbar -->
 
 
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
        <% include ../partials/salesstock %>
        <% include ../partials/stockinformation %>
        <% include ../partials/salesitemcreate %>
        <% include ../partials/salesitemgroupcreate %>
        <% include ../partials/salesitemcategorycreate %>
        <% include ../partials/salesunitModal %>
    <script src="../js/sales.js"></script>
    <script src="../js/salesitemcreate.js"></script>
    <script src="../js/salesitemgroupcreate.js"></script>
    <script src="../js/salesitemcategorycreate.js"></script>
    <script src="../js/salesunitcreate.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://unpkg.com/nepali-date-picker@2.0.0/dist/jquery.nepaliDatePicker.min.js" integrity="sha384-bBN6UZ/L0DswJczUYcUXb9lwIfAnJSGWjU3S0W5+IlyrjK0geKO+7chJ7RlOtrrF" crossorigin="anonymous"></script>
    <script>
        $(document).on('change','select',function(e)
        {
        
            var index=parseInt($('select#viewstockitem option:selected').index());
            // alert(index);  
           
               if(index!==0)
               {
                $('div.searchstockitem').show();
               }
               else
               {
                $('div.searchstockitem').hide();

               }
                     for(i=1;i<4;i++)
                 {
                    if(index===i)
                    {
                    $('div.searchstockitem').find('input').eq(i-1).css('display','inline').focus();
                    // show();
                }
                else
                {
                    $('div.searchstockitem').find('input').eq(i-1).css('display','none').focus();

                }
                }
            
        })

        $('button.searchstock').on('click',function(e)
        {
        var index=parseInt($('select#viewstockitem option:selected').index());
        var searchby=$('select#viewstockitem option:selected').val();
        var senditem='';
        if(index!==0)
        {
          for(i=1;i<4;i++)
                 {
                    if(index===i)
                    {
                    senditem= $('div.searchstockitem').find('input').eq(i-1).val();
                                     // show()
                    }   
            }
        }
 var dynamictable=`<table class="table text-center table-bordered"><tr><th>S.N</th><th>Itemname</th><th>Remaining</th><th>Item group</th> <th> Item Category </th></tr><tr>`;

            $.ajax({
                url:'/searchstock',
                type:'post',
                async:false,
                data:{index:index,searchby:searchby,senditem:senditem},
                success:function(data)
                {

                $('.viewresult').html('');
                result=data.result;
                alert("success");
               
                console.log(data);
                console.table(result);
                if(result.length>0)
                {
                
                for(i=0;i<result.length;i++)
                {
                    dynamictable+=`<tr><td>${i+1}</td><td>${result[i].itemname}</td><td>${result[i].remaining}</td><td>${result[i].itemgroupname}</td><td>${result[i].groupcategory}</tr>`;
                }
                dynamictable+='</table>';
                $('.viewresult').append(dynamictable);
                }
                else
                {
                    alert("No any item in the list");
                }
               
                }
                ,
                error:function(data)
                {
                alert("Item not found")
                }

            })
        })
    </script>
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE -->
<script src="dist/js/adminlte.js"></script>

<!-- OPTIONAL SCRIPTS -->
<script src="plugins/chart.js/Chart.min.js"></script>
<script src="dist/js/demo.js"></script>
<script src="dist/js/pages/dashboard3.js"></script>
<% include ../partials/vfoot %>
