<% include ../partials/vhead %>
<style>
.login-page {
  background-image: url("img/images.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

</style>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a style="color:#cccccc;" href="www.ansunepal.com"><b>Ansu</b>ERP</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in to start your session</p>
      <div id="error" class="danger" style="text-align: center; color:red;"></div>
      <form class="userregistrationform">
        <div class="input-group mb-3">
          <input type="email" id="uname" class="form-control" placeholder="Email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" id="passwd" class="form-control" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">
                Remember Me
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <!-- <div class="social-auth-links text-center mb-3">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-primary">
          <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
        </a>
        <a href="#" class="btn btn-block btn-danger">
          <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
        </a>
      </div> -->
      <!-- /.social-auth-links -->

      <!-- <p class="mb-1">
        <a href="#">I forgot my password</a>
      </p> -->
      <!-- <p class="mb-0">
        <a href="register.html" class="text-center">Register a new membership</a>
      </p> -->
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->


<script>
  $('form.userregistrationform').on('submit',function(e)
  {
      e.preventDefault();
      var username=$('#uname').val();
      var password=$('#passwd').val();
      var remember=$('#remember').val();
      console.log(remember);
      $.ajax({
          url:'/vlogin',
          type:'post',
          data:{username:username,password:password},
          success:function(data)
          {
              if(remember==="on")
              {
                  Cookies.set('username',username);
                  Cookies.set('password',password);
              }
              var domainname= window.location.origin;
        window.location.replace(`${domainname}/voucher`);

  
           $('button#reset').click();
          },
          error:function(data)
          {
          $('#error').text("Username or Password didnot match");
          }
      })
  
  })
  </script>

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>

</body>
</html>
